<div class="container">
  <h3 mat-dialog-title *ngIf="flag === 1">Dodavanje pacijenta</h3>
  <h3 mat-dialog-title *ngIf="flag === 2">Modifikacija pacijenta: {{data.ime}} {{data.prezime}}</h3>
  <h3 mat-dialog-title *ngIf="flag === 3">Brisanje pacijenta: {{data.ime}} {{data.prezime}}</h3>

  <div mat-dialog-content class="mat-typography">
    <form class="mat-dialog-content">
      <mat-form-field *ngIf="flag !== 1">
        <mat-label>ID</mat-label>
        <input matInput placeholder="ID" [(ngModel)]="data.id" name="id" disabled>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Ime</mat-label>
        <input matInput placeholder="Ime" [(ngModel)]="data.ime" name="ime" [disabled]="flag === 3" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Prezime</mat-label>
        <input matInput placeholder="Prezime" [(ngModel)]="data.prezime" name="prezime" [disabled]="flag === 3" required>
      </mat-form-field>
      <div style="margin-bottom: 15px;">
        <mat-checkbox [(ngModel)]="data.zdr_osiguranje" name="zdr_osiguranje" [disabled]="flag === 3">Zdravstveno osiguranje</mat-checkbox>
      </div>
      <mat-form-field>
        <mat-label>Datum rođenja</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="Datum rođenja" 
               [(ngModel)]="data.datum_rodjenja" name="datum_rodjenja" 
               [disabled]="flag === 3" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Odeljenje</mat-label>
        <mat-select [(ngModel)]="data.odeljenje" placeholder="Odeljenje" name="odeljenje" [compareWith]="compareTo" [disabled]="flag === 3" required>
          <mat-option *ngFor="let odeljenje of odeljenja" [value]="odeljenje">{{odeljenje.naziv}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Dijagnoza</mat-label>
        <mat-select [(ngModel)]="data.dijagnoza" placeholder="Dijagnoza" name="dijagnoza" [compareWith]="compareTo" [disabled]="flag === 3" required>
          <mat-option *ngFor="let dijagnoza of dijagnoze" [value]="dijagnoza">{{dijagnoza.naziv}}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>

  <div mat-dialog-actions>
    <button mat-button *ngIf="flag === 1" type="submit" [mat-dialog-close]="1" (click)="add()">Sačuvaj</button>
    <button mat-button *ngIf="flag === 2" type="submit" [mat-dialog-close]="1" (click)="update()">Sačuvaj</button>
    <button mat-button *ngIf="flag === 3" type="submit" [mat-dialog-close]="1" (click)="delete()">Obriši</button>
    <button mat-button (click)="cancel()">Poništi</button>
  </div>
</div>