<mat-toolbar color="primary">
  <span class="title-center">Odeljenje</span>
</mat-toolbar>

<div class="container mat-elevation-z8">
  <mat-form-field>
    <mat-label>Pretražite odeljenja</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Npr. Hirurgija">
  </mat-form-field>

  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="naziv">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Naziv </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.naziv}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lokacija">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Lokacija </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.lokacija}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="bolnica">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Bolnica </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.bolnica.naziv}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="openDialog(1)">
          <mat-icon>add</mat-icon>
        </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" (click)="openDialog(2, row.id, row.naziv, row.lokacija, row.bolnica)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="openDialog(3, row.id, row.naziv, row.lokacija, row.bolnica)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true"></mat-paginator>
</div>