.bg-wrapper {
  margin: -20px; 
  height: calc(100vh - 64px); 
  position: relative; 
  
 
  background-image: linear-gradient(rgba(0, 0, 0, 0.17), rgba(0, 0, 0, 0.17)), url('/bolnica.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  
 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}

.cards-container {
  display: flex;
  gap: 40px; 
  flex-wrap: wrap; 
  justify-content: center;
  z-index: 2; 
}

.info-card {
  width: 350px;
  min-height: 280px;
  
  /* Postavka za centriranje (ovo već imaš od malopre) */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
  /* BOJA I TRANSPARENTNOST */
  background-color: #E3F2FD; /* Solid boja za fallback */
  background-color: rgba(227, 242, 253, 0.50); /* 85% providnosti */
  
  /* Estetika */
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.5);
  
  /* Safari podrška za blur */
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

/* Naslov */
.card-title {
  margin: 0 0 15px 0 !important;
  text-align: center;
  font-weight: bold;
}

/* Tekst - dodajemo fiksnu širinu da tekst ne bude suviše sabijen */
.card-content {
  text-align: center;
  width: 100%;
  margin: 0 0 20px 0 !important;
}

/* Dugme */
.card-actions {
  margin: 0 !important;
  display: flex;
  justify-content: center;
  width: 100%;
}

.home-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #E3F2FD; 
  color: #333; 
  text-align: center; 
  padding: 15px 0;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  border-top: 1px solid #C6E0F5; 
  z-index: 3; 
}
.modern-btn {
  border-radius: 20px; /* Moderne, zaobljene ivice */
  padding: 0 20px;
  font-weight: bold;
  letter-spacing: 0.5px;
  transition: all 0.3s ease; /* Glatka animacija */
}

/* Efekat izdizanja i senke kada pređeš mišem preko dugmeta */
.modern-btn:hover {
  transform: translateY(-3px); 
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}